.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}

.right-section a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search svg,
.maps svg {
  margin-right: 5px;
}