.card {
    width: 364px;
    height: 172px;
    display: flex;
    overflow: hidden;
    padding: 16px;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageSection {
    width: 160px;
    /* padding: 8px 12px; */

}

.image {
  height: 80%;
  margin-top:12px;
  border-radius: 5px;
  overflow: hidden;
}

.tags {
  display: flex;
  gap: 8px;  
    
}

.tag {
    display: inline-block;
    background-color: #F4AB1E;
    color: #fff;
    padding: 2px 8px;
    /* margin-right: 3px; */
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoSection {
    /* padding: 10px; */
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.title {
    font-size: 18px;
    margin: 0;
}

.description {
    font-size: 14px;
    margin: 0;
    color: #a1a1a1;
}

.priceSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price {
    font-size: 16px;
    text-decoration: line-through;
    margin-right: 5px;
    color: #A1A1A1;
}

.offerPrice {
    font-size: 16px;
    /* color: #e74c3c; */
    font-weight: bold;
}

.addButton {
    background-color: #D84040;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #0056b3;
}